<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Serve</title>

  <!-- External CSS -->
  <link href="/static/css/main.css" rel="stylesheet" type="text/css">

  <!-- Bootstrap & Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>

  <!-----------------------------------------NAV BAR------------------------------------------>
  <nav class="navbar navbar-expand-lg bg-success-subtle sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="/static/images/WhatsApp_Image_2025-10-10_at_12.14.34_AM-removebg-preview.png" alt="Logo"
          class="img-fluid me-1 rounded logo">
        <span>Smart Serve</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Services</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Cafe Managed Services</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">SaaS Solution</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Events and Pop-ups</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Sectors</a></li>
          <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Careers</a></li>
        </ul>
        <form class="d-flex ms-5" role="search">
          <button class="btn btn-outline-success me-3" type="submit">Login</button>
          <button class="btn btn-outline-success" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </nav>

  <!--------------------------------------------------CAROUSEL------------------------------------------->
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/img5.webp" class="d-block w-100 carousel-img" alt="">
        <div class="carousel-caption d-none d-md-block text-dark">
          <h5 class="fs-1 mb-5 text-danger">Get 10% Off on First order</h5>
          <h5 class="fs-1">First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="/static/images/img5.webp" class="d-block w-100 carousel-img" alt="">
        <div class="carousel-caption d-none d-md-block text-dark">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="/static/images/img5.webp" class="d-block w-100 carousel-img" alt="">
        <div class="carousel-caption d-none d-md-block text-dark">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <!--------------------------------------------------ABOUT US------------------------------------------->
  <div class="container my-5 text-center">
    <h2>Welcome to Smart Serve</h2>
    <p class="lead">Your one-stop solution for all your food and beverage needs. We offer a wide range of services
      including cafe management, SaaS solutions, and event catering.</p>
  </div>

  <!--------------------------------------------------FOOD MENU------------------------------------------->
  <div class="container m-5">
    <h1 class="text-center mb-4">Our Menus</h1>
    <div class="row g-4">
      {% for item in items %}
      <div class="col-md-3">
        <div class="card bg-success-subtle w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">{{ item }}</h5>
            <img src="/static/images/{{ item }}.jpeg" class="img-fluid menu-img">
            <a href="#">Click here ></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!--------------------------------------------------OUR SERVICES------------------------------------------->
  <div class="container-fluid bg-success-subtle p-5 text-center">
    <h1>Our Services Keep Things Cooking Well</h1>

    <div class="row m-5 align-items-center">
      <div class="col-md-4">
        <img src="/static/images/order.jpeg" class="d-block w-100 rounded">
        <span>Contactless Order</span>
      </div>
      <div class="col-md-8">
        <h3>Streamline Office Cafeteria Management with SaaS</h3>
        <div class="row">
          <div class="col-md-6">
            <i class="fa-solid fa-alarm-clock m-4 service-icon"></i>
            <p>Real-time tracking, inventory management, and billing processes.</p>
          </div>
          <div class="col-md-6">
            <i class="fa-solid fa-calendar-days m-4 service-icon"></i>
            <p>Efficient scheduling and reporting system.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!---------------------------------------------------FOOTER------------------------------------------->
  <footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">Get connected with us on social networks:</div>
      <div>
        <a href="#" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
        <a href="#" class="me-4 text-reset"><i class="fab fa-google"></i></a>
        <a href="#" class="me-4 text-reset"><i class="fab fa-instagram"></i></a>
        <a href="#" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="me-4 text-reset"><i class="fab fa-github"></i></a>
      </div>
    </section>

    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3">
            <h6 class="fw-bold mb-4"><i class="fas fa-gem me-3"></i>Smart Serve</h6>
            <p>Smart serve is your one-stop solution for all your food and beverage needs.</p>
          </div>
          <div class="col-md-2">
            <h6 class="fw-bold mb-4">Company</h6>
            <p><a href="#" class="text-reset">About us</a></p>
            <p><a href="#" class="text-reset">Our services</a></p>
            <p><a href="#" class="text-reset">Sectors</a></p>
          </div>
          <div class="col-md-3">
            <h6 class="fw-bold mb-4">Services</h6>
            <p><a href="#" class="text-reset">Cafeteria Managed</a></p>
            <p><a href="#" class="text-reset">SaaS Solution</a></p>
            <p><a href="#" class="text-reset">Events & Pop-ups</a></p>
          </div>
          <div class="col-md-4">
            <h6 class="fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> RETOUCH IT SERVICES</p>
            <p><i class="fas fa-envelope me-3"></i> retouch@example.com</p>
            <p><i class="fas fa-phone me-3"></i> +91-1111111111</p>
          </div>
        </div>
      </div>
    </section>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
